.card {
	background-color: rgba(0, 0, 0, 0.75); 
	color: white; 
}

.cardField {
	background-Color: rgba(0, 0, 0, 0.5);
	color: white;
	border: 1px solid #ccc;
	margin-bottom: 3px;
}

.cardField:focus {
	background-color: rgba(0, 0, 0, 0.5);
	color: white; 
	border-color: white; 
	outline: none; 
}

/* Change placeholder text color to white */
.cardField::placeholder {
	color: gray;  /* White placeholder text */
}
  