/* Custom styling for the 'Home' link */
.home-link {
	font-size: 1.25rem; /* Adjust the size as you see fit */
	font-weight: bold;  /* Optional: Make it bold */
	display: flex; /* Align with the navbar items */
	align-items: center; /* Vertically center the text */
}
   
#mainContainer {
	background-image: url('../../public/images/genericHomePageBackground.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; /* This will lock the background in place */
	height: 100vh; /* Full viewport height */
	width: 100vw; /* Full viewport width */
	position: fixed; /* Ensure it stays in place */
	top: 0;
	left: 0;
	z-index: -1; /* Ensure it is behind other content */
  }

.top-right-icon {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
	cursor: pointer;
}

.icon-image-racoon {
	width: 100px;
	height: 100px;
}