/* Custom styling for the 'Home' link */
.home-link {
	font-size: 1.25rem; /* Adjust the size as you see fit */
	font-weight: bold;  /* Optional: Make it bold */
	display: flex; /* Align with the navbar items */
	align-items: center; /* Vertically center the text */
}
   
#mainContainer {
	background-image: url('../../public/images/genericHomePageBackground.webp'); /* Path to the image */
	background-size: cover; /* Ensure the image covers the entire container */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	background-attachment: fixed; /* This will lock the background in place */
	height: 100vh; /* Full viewport height */
	width: 100vw; /* Full viewport width */
	position: fixed; /* Ensure it stays in place */
	top: 0; /* Align to the top */
	left: 0; /* Align to the left */
	z-index: -1; /* Ensure it is behind other content */
	overflow-x: hidden; /* Prevent horizontal scrolling */
  	overflow-y: auto; /* Allow vertical scrolling */
	scrollbar-width: none; /* Hide the scrollbar */
  }

.top-right-icon {
	position: fixed; /* Ensure it stays in place */
	top: 10px; /* Align to the top */
	right: 10px; /* Align to the right */
	z-index: 1000; /* Ensure it is above other content */
	cursor: pointer; /* Change the cursor to a pointer */
}

.icon-image-racoon {
	width: 100px; /* Adjust the size as you see fit */
	height: 100px; /* Adjust the size as you see fit */
}