.movie-card {
    margin: 10px;
    text-align: center;
    width: 150px;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
  }

  .movie-card:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
  
  .movie-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .movie-card h5 {
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .movie-card {
      width: 75px;
    }
  
    .movie-card img {
      height: 180px;
    }
  }
  