.navbar {
  position: fixed; /* Ensures the navbar stays at the top of the page */
  top: 0; /* Positions it at the very top */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Stretches the navbar across the entire width */
  z-index: 999; /* Makes sure the navbar is above all other elements */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Optional: Adds a subtle shadow for visibility */
}

body {
  padding-top: 56px; /* Adjust this padding to match the navbar's height, to prevent content from being hidden behind it */
}


  /* Custom styling for the 'Home' link */
.home-link {
	font-size: 1.25rem; /* Adjust the size as you see fit */
	font-weight: bold;  /* Optional: Make it bold */
	display: flex; /* Align with the navbar items */
	align-items: center; /* Vertically center the text */
	margin-top: -4px; /* Move it slightly higher */
  }
  
  