/* components/watchPage.css */
.watch-page {
	background-color: #000; /* רקע שחור */
	display: flex;
	flex-direction: column;
	height: 100vh; /* גובה מלא */
	margin: 0;
  }
  
  .navbar {
	position: fixed; /* מוודא שה-Navbar תמיד למעלה */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* תמיד למעלה */
	background-color: #111; /* לדוגמה - צבע רקע */
  }
  
  .video-section {
	margin-top: 60px; /* גובה ה-Navbar */
	flex: 1; /* תופס את כל המקום הזמין */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black; /* רקע שחור */
  }
  
  .video-container {
	width: 100%;
	height: 100%;
  }
  
  video {
	width: 100%;
	height: 100%;
	object-fit: contain; /* שמירה על פרופורציות */
	background-color: black;
  }
  