  /* Overlay for the popup */
  .popup-overlay {
    position: fixed; /* Position it on top of the content */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(0, 0, 0, 0.8); /* Slightly darker semi-transparent background */
    z-index: 999; /* Ensure it appears above everything else */
    display: flex; /* Flex layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Start hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
  }
  
  /* Show the overlay when active */
  .popup-overlay.show {
    opacity: 1; /* Make it visible */
    visibility: visible; /* Make it visible */
  }
  
  .connected-home-page-dark-mode #mainContainer {
    background-image: url(/public/images/genericHomePageBackground.webp); /* Remove the background image */
    background-color: black !important; /* Ensure the background is black */
    color: white; /* Ensure text is readable */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    overflow-y: auto; /* Allow vertical scrolling */
  }
  

  .connected-home-page-light-mode #mainContainer {
    background-image: url(/public/images/lightBackground.jpg); /* Remove the background image */
    background-color: wheat !important; /* Ensure the background is black */
    color: black; /* Ensure text is readable */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    overflow-y: auto; /* Allow vertical scrolling */
  }
  