  /* Overlay for the popup */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Slightly darker semi-transparent background */
    z-index: 999; /* Ensure it appears above everything else */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* Show the overlay when active */
  .popup-overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  .connected-home-page-dark-mode #mainContainer {
    background-image: url(/public/images/genericHomePageBackground.webp); /* Remove the background image */
    background-color: black !important; /* Ensure the background is black */
    color: white; /* Ensure text is readable */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    overflow-y: auto; /* Allow vertical scrolling */
  }
  

  .connected-home-page-light-mode #mainContainer {
    background-image: url(/public/images/lightBackground.jpg); /* Remove the background image */
    background-color: wheat !important; /* Ensure the background is black */
    color: black; /* Ensure text is readable */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    overflow-y: auto; /* Allow vertical scrolling */
  }
  